secrets.yaml
.HA_VERSION
.uuid
home-assistant_v2.db
home-assistant.log
html5_push_registrations.conf
.spotify-token-cache
gpmpd.conf
ip_bans.yaml
plex.conf
gpmpd.conf
.spotify-token-cache
/secrets
.google.token
google_calendars.yaml
/tts
phue.conf
.cloud/production_auth.json
.google_maps_location_sharing.cookies
google_maps_location_sharing.cookies
home-assistant_v2.db-shm
home-assistant_v2.db-wal
/.storage
/deps

