secrets.yaml
.HA_VERSION
.uuid
home-assistant_v2.db
home-assistant.log

domain-crt.crt
domain-csr.txt
domain-key.key
account-key.txt

fedexdeliverymanager_cookies.pickle
upsmychoice_cookies.pickle
usps_cookies.pickle