/* SVG shapes */

svg,
svg * {
    vector-effect: non-scaling-stroke !important;
    pointer-events: all !important;
    background-color: var(--primary-background-color);
}


/* Hover over */

.entity:hover {
    stroke: #03A9F4 !important;
    stroke-width: 1px !important;
    stroke-opacity: 1 !important;
}


/* Bootstrap succsss */

.success-text {
    fill: #3c763d !important;
}

.success-background,
.success-text-background {
    fill: #dff0d8 !important;
    fill-opacity: 1 !important;
    stroke: #d6e9c6 !important;
    stroke-width: 1px !important;
}


/* Bootstrap info */

.info-text {
    fill: #31708f !important;
}

.info-background,
.info-text-background {
    fill: #d9edf7 !important;
    fill-opacity: 1 !important;
    stroke: #bce8f1 !important;
    stroke-width: 1px !important;
}


/* Bootstrap warning */

.warning-text {
    fill: #8a6d3b !important;
}

.warning-background,
.warning-text-background {
    fill: #fcf8e3 !important;
    fill-opacity: 1 !important;
    stroke: #faebcc !important;
    stroke-width: 1px !important;
}


/* Bootstrap danger */

.danger-text {
    fill: #a94442 !important;
}

.danger-background,
.danger-text-background {
    fill: #f2dede !important;
    fill-opacity: 1 !important;
    stroke: #ebccd1 !important;
    stroke-width: 1px !important;
}


/* Windows / Doors / Entry Points */

.window-open {
    fill: #c60919 !important;
}

.window-closed {
    fill: #00FFFF !important;
}


/* Lights */

.interior-light-off {
    fill: #21418c !important;
    fill-opacity: 1.0;
    stroke: black !important;
    stroke-width: 1;
    stroke-opacity: 0.1;
}

.interior-light-off:hover {
    transform-origin: center;
    transform: scale(1.5);
}

.exterior-light-off {
    fill: #21418c !important;
    fill-opacity: 1.0;
    stroke: black !important;
    stroke-width: 1;
    stroke-opacity: 0.1;
}

.exterior-light-off:hover {
    transform-origin: center;
    transform: scale(1.5);
}

.light-on {
    fill: yellow !important;
    fill-opacity: .70;
    stroke: #FFFFA6 !important;
    stroke-width: 1;
    stroke-opacity: 0.25;
}

.light-on:hover {
    transform-origin: center;
    transform: scale(1.25);
}

.bed-led-on {
    stroke: #19D8FF !important;
    stroke-width: 4;
    stroke-opacity: 0.1;
}

.flux-led-on:hover {
    transform-origin: center;
    transform: scale(1.20);
}

.flux-led-off {
    fill: #21418c !important;
    fill-opacity: 1.0;
    stroke: black !important;
    stroke-width: 1;
    stroke-opacity: 0.1;
}


/* Scripts */

.script-on {
    fill: #95B0B2 !important;
}

.script-off {
    fill: #3D3B3F !important;
}


/* Text Date/Time */

.static-text-date {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 14px;
    fill: #FFFFFF;
}

.ecobee-temp {
    font-family: Helvetica;
    font-size: 42px;
    fill: #FFFFFF;
}

.ecobee-humidity {
    font-family: Helvetica;
    font-size: 12px;
    fill: #FFFFFF;
}

.static-temp {
    font-family: Helvetica;
    font-size: 20px;
    fill: #FFFFFF;
}

.static-text-time {
    font-family: Helvetica;
    font-size: 33px;
    fill: #FFFFFF;
}


/* Text Home/Away */

.text-home {
    fill: #BDF271 !important;
}

.text-away {
    fill: #E7376B !important;
}


/* Text Cameras */

.text-cameras {
    fill: #9A9A9B !important;
}


/* Occupancy */

.state-home {
    fill: rgba(0, 255, 0, 0.25) !important;
}

.state-away {
    fill: rgba(255, 0, 0, 0.25) !important;
}


/***  My settings ***/

.temperature::after {
    content: '\00b0';
}