/* SVG shapes */

svg,
svg * {
    vector-effect: non-scaling-stroke !important;
    pointer-events: all !important;
    background-color: var(--primary-background-color);
}


/* Occupancy */

.state-home {
    fill: rgba(0, 255, 0, 0.5) !important;
}

.state-away {
    fill: rgba(255, 0, 0, 0.5) !important;
}


/***  My settings ***/

.temperature::after {
    content: '\00b0';
}